html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ion-page {
  display: block;
  height: auto;
  min-height: 100vh;
}

ion-content {
  --background: #ffffff;
  --padding-bottom: 80px;
  --overflow: visible;
  contain: none;
  overflow: visible !important;
  height: auto !important;
  min-height: 100vh;
  display: block;
}

.ion-content {
  padding-bottom: 80px;
}

.titulo-simulacao {
  font-size: 28px;
  color: #e30613;
  font-weight: 700;
  text-align: center;
  margin: 20px auto;
}

.form-simulacao {
  display: flex;
  flex-direction: column;
  gap: 70px;
  max-width: 600px;
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin: 0 auto 40px;
}

.input-item {
  --highlight-color-focused: #e30613;
}

.ion-input,
.ion-textarea {
  font-size: 16px;
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.ion-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.btn-simular-wrapper {
  text-align: center;
  margin-top: 20px;
}

.ion-button {
  background-color: #e30613;
  color: white;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.ion-button:hover {
  background-color: #c40411;
}

.resultado-simulacao {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  background: #fff4f4;
  border-left: 6px solid #e30613;
  padding: 12px 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
